<ion-card>
  <ion-card-header>
    <ion-card-subtitle>

      <span class="text-primary">{{ indice + 1 }}. </span>
      <span class="new-source-name">{{ new.source.name }}</span>

      {{ new.source.name }}
    </ion-card-subtitle>
    <ion-card-title class="new-source-title">
      {{ new.title }}
    </ion-card-title>
  </ion-card-header>

  <ion-img *ngIf="new.urlToImage" 
            [src]="new.urlToImage"
            (click)="openNew()">
  </ion-img>

  <ion-card-content>
    <p>
      {{  new.description }}
    </p>
  </ion-card-content>

</ion-card>