<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Daniel's News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
      *ngFor="let new of noticias">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              {{ new.source.name }}
            </ion-card-subtitle>
            <ion-card-title>
              {{ new.title }}
            </ion-card-title>
          </ion-card-header>

          <ion-image *ngIf="new.urlToImage" [src]="new.urlToImage">
          </ion-image>

          <ion-card-content>
            <p>
              {{  new.description }}
            </p>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
